<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" 
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://java.sun.com/xml/ns/j2ee" 
     xmlns:javaee="http://java.sun.com/xml/ns/javaee" 
     xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
     
     <display-name>map app</display-name>
	   <welcome-file-list>
	      <welcome-file>index.jsp</welcome-file>
	   </welcome-file-list>
	 <servlet>
	    <servlet-name>Log4jInit</servlet-name>
		<servlet-class>com.bettle.utils.servlet.Log4jInit</servlet-class>
		 <init-param>
			   <param-name>log4j-configuration</param-name>
			   <param-value>/WEB-INF/log4j.properties</param-value>
		  </init-param>
	 	  <!--如果有多个web应用，怕webapp.root变量重复，可以在init-param里定义webAppRootKey-->
		  <init-param>
			  <param-name>webAppRootKey</param-name>
			  <param-value>webapp.root</param-value>
		  </init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<jsp-config>
	   <taglib>
	      <taglib-uri>http://jakarta.apache.org/taglibs/log-1.0</taglib-uri>
	      <taglib-location>/WEB-INF/taglibs-log.tld</taglib-location>
	   </taglib>
	</jsp-config>   
</web-app>